<!DOCTYPE html>

<html>


	<head>
		<title> Pulse </title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.css" type="text/css"/>
		<link rel="stylesheet" href="../../static/pulse/css/style.css">

	</head>

	<body>
		<div class="row top" id ="topRow">
			<div class="col-sm-3 nav" id="logo">
				<div class="logoDiv">
					<p id="mainTitle"> PULSE </p>
				</div>
			</div>
	    	<div class="col-sm-3 nav">
	    			<div class="dropdown show graphType">
					  	<a class="btn btn-secondary dropdown-toggle graphNavItem" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    	<p id="graphWord"> Graph Type </p>
					  	</a>

						<div class="dropdown-menu ddg" aria-labelledby="dropdownMenuLink">
							<ul class="dropdownList">
								<li id="barOption" class="graphOption">
									<input type="submit" class="dropdown-item graphButton" value="Bar">
								</li>
							</ul>
						</div>
					</div>
	    	</div>
		    <div class="col-sm-3 nav">
			    <div class="innerNavDiv">
			      	<input type="submit" class="button" value= "Save"></button>
			    </div>
		    </div>
		    <div class="col-sm-3 nav">
		    	<div class="innerNavDiv">
					<input type="submit" class="button" value= "Share"></button>
		    	</div>	
		    </div>
  		</div>

	  	<div class="row middle">
		    	<div class="col-sm-9 center">
			    	<div class="graphArea lineGraph">
			    		<h2 id="loadingMessage"> Welcome to Pulse. Please click a company below to get started! </h2>
			    		<div class="loader"></div>
			    	</div>
		    	</div>
			    <div class="col-sm-3 right">
			    	<ul class = "list newsInfo">
			    		<h2 class="socialHeader sideHeader"> News </h2>
			    		<li class="socialDetail"> Article </li>
			    		<li class="socialDetail"> Article </li>
			    		<li class="socialDetail"> Article </li>
			    		<li class="socialDetail"> Article </li>
			    	</ul>
			    	<ul class = "list professionalsInfo">
			    		<h2 class="socialHeader sideHeader"> Professional Activity </h2>
			    		<li class="socialDetail"> Tweet </li>
			    		<li class="socialDetail"> Tweet </li>
			    		<li class="socialDetail"> Tweet </li>
			    		<li class="socialDetail"> Tweet </li>
			    	</ul>
			    	<ul class = "list PeoplesInfo">
			    		<h2 class="socialHeader sideHeader"> Public Activity </h2>
			    		<li class="socialDetail"> Tweet </li>
			    		<li class="socialDetail"> Tweet </li>
			    		<li class="socialDetail"> Tweet </li>
			    		<li class="socialDetail"> Tweet </li>
			    	</ul>
			    </div>	    
		</div>
		<div class="row bottom">
			<div class="col-sm-2 void">
			</div>
			<div class="col-sm-8 buttons">
				<ul class="ulButton">
					<li class="liButton">
						<input id="tsla" class="tsla bttn" value="Tesla, Inc. (TSLA)" type="submit">
					</li>
					<li class="liButton">
						<input id="ko" class="bttn" value="The Coca-Cola Company (KO)" type="submit">
					</li>
					<li class="liButton">
						<input id = "snap" class="bttn" value="Snap Inc. (SNAP)" type="submit">
					</li>
				</ul>
  			</div>
  			<div class="col-sm-2 void">
			</div>
		</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.2/require.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.js"></script>
	<script src="../../static/pulse/js/main.js"> </script>

	</body>


</html>