amqp==2.1.4
appdirs==1.4.2
beautifulsoup4==4.5.3
billiard==3.5.0.2
celery==4.0.2
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.10.6
django-toolbelt==0.0.1
feedparser==5.2.1
gunicorn==19.6.0
kombu==4.0.2
numpy==1.12.0
packaging==16.8
pandas==0.19.2
psycopg2==2.7
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
six==1.10.0
static3==0.7.0
vine==1.1.3