
.top{
	background-color: beige;
	text-align: center;
	height: 10%;
	


}

.bottom{

	height: 5%;
	background-color: black;

}

.logoDiv{
	height:100%;
	display: inline-block;

}

.nav{

	height: 100%;
	margin: 0;
	padding:0;

}


#logo{
	background-color: #F8DD97;


}

.dropdownList{

	list-style: none;
	padding:0;
	margin:0;
	background-color: black;
	height:100%;


}

.ddg{
	background-color: white;
	height:100%;
	margin:0;
	padding:0;

}

.graphType{

	height:100%;
	background-color: black;

}


.graphNavItem{

	height:100%;
	width: 100%;
 	margin:0;
	padding:0;
	font-size: 2em;
	border: none;
	background-color: black;


}


.graphNavItem:hover{

	height:100%;
	width: 100%;
 	margin:0;
	padding:0;
	font-size: 2em;
	color:black;
	background-color: white;

}

.graphButton{

	height:100%;
	width: 100%;
 	margin:0;
	padding:0;
	font-size: 2em;
	border: none;
	background-color: black;


}


.graphButton:hover{

	height:100%;
	width: 100%;
 	margin:0;
	padding:0;
	font-size: 2em;
	border: dashed black;
	color:black;
	background-color: white;

}


#graphWord{

    background-color: #333533; /* Green */
    border: none;
    color: #EEF1E7;
    text-align: center;
    display: inline-block;
    font-size: 2em;
    padding:0;
    height:100%;
    width:100%;

}

#graphWord:hover{

    background-color: #EEF1E7; /* Green */
    border: none;
    color: #333533;
    text-align: center;
    display: inline-block;
    font-size: 2em;
    padding:0;
    height:100%;
    width:100%;

}


.graphOption{
	width:100%;
	height:100%;
	background-color:black;
	color:white;
	border: black;

}




#mainTitle{
	font-size: 6em;
	margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;


}

/*MIDDLE PORTION*/

.middle{
	height: 10em;
	margin: 0;
	padding:0;
	height: 2%;


}



.right{

/*	border: dashed pink;*/
	height:100%;
	background-color: #CFDBD5;
}


.center{
	
	border: black;
	height:100%;
	background-color: white;	


}

.sideHeader{
	text-align: center;
	text-decoration: underline;

}

/*BOTTOM*/

.ulButton{
	display: flex;
	padding:0;
	margin:0;
	justify-content: center;


}

.liButton{
	width:50%;
	list-style: none;
	font-size: 2em;
	margin:1%;


}

.bttn{
	width: 100%;
	font-size: 2rem;
	text-align: center;



}

#tsla{
	background-color: blue;
	color: white; 



}

#tsla:hover{

	background-color: white;
	color: blue; 
}


#ko{
	background-color: red;
	color: white; 

}

#ko:hover{

	background-color: white;
	color: red; 


}

#snap{
	background-color: yellow;
	color: black; 

}

#snap:hover{

	background-color: black;
	color: yellow; 



}
.socialDetail{

	list-style: none;


}

.row{

	height: 8em;

}

.button {
    background-color: #333533; /* Green */
    border: none;
    color: #EEF1E7;
    text-align: center;
    display: inline-block;
    font-size: 5em;
    padding:0;
    height:100%;
    width:100%;

}

.innerNavDiv{
	background-color: #333533;
	text-align: center;
	margin:auto;
	height:100%;
	padding:0;

}

.button:hover{
	background-color:#EEF1E7;
	color: #333533;



}


/*.col-sm-3{

	border: dashed white;
	height: 100%;
	padding:0;

}*/

.middle{
/*	border: dashed blue;*/
	background-color: beige;
	height: 60em;


}
